* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
}

html {
	font-family: "Montserrat";
	background: #111111;
	color: #a2a2a2;
	height: 100%;
}

body {
	min-height: 100%;
	display: grid;
	overflow: hidden;
}

.container {
	display: grid;
	grid-template-columns: 1fr 300px;
	grid-template-rows: 1fr;
	.editor {
		grid-column: 1/2;
		grid-row: 1/2;
	}
	.toolbar {
		grid-column: 2/3;
		grid-row: 1/2;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

input {
	border: none;
	font: inhert;
	color: inherit;
	background: transparent;
	font-size: inherit;
	transition: 0.3s all ease;
	&:focus {
		outline: none;
		color: #fff;
	}
	&::placeholder {
		text-transform: capitalize;
	}
}

label.string {
	display: block;
	width: 100%;
}
label.boolean {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	cursor: pointer;
	span {
		font-size: 14px;
	}
}

input[type="checkbox"] {
	appearance: none;
	width: 20px;
	height: 20px;
	background: #444;
	position: relative;
	margin: 0;
	cursor: pointer;
	&:checked {
		&::before {
			content: "✕";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: $color_primary;
			font-weight: 700;
		}
	}
}

label {
	span {
		font-size: 12px;
		color: #999;
		text-transform: capitalize;
	}
	input {
		margin-top: 5px;
	}
}

label.select {
	width: 100%;
	position: relative;
	span {
		margin-bottom: 5px;
		display: block;
	}
	select:not([multiple]) {
		&::after {
			content: "▼";
			color: $color_primary;
			position: absolute;
			bottom: 13px;
			right: 10px;
			font-size: 10px;
			pointer-events: none;
		}
	}
}

select {
	width: 100%;
	border: 0;
	background: #444;
	color: #a2a2a2;
	padding: 10px;
	position: relative;
	// hide arrow
	appearance: none;

	&::after {
		content: "asd";
	}
}
