.nav {
	flex: 1;
	&__list {
		overflow-x: hidden;
		overflow-y: auto;
		height: 100%;
		position: relative;
		transition: 0.3s all ease;
		background: #333;
		display: flex;
		flex-direction: column;
		&--sub {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 100%;
			background: #333;
		}
		&--active {
			left: 0;
		}
	}
	&__item {
		display: flex;
		align-items: center;
		padding: 20px;
		cursor: pointer;
		box-shadow: inset 2px 0 0 0 transparent;
		user-select: none;
		&:hover:not(
				.nav__item--return,
				.nav__item--input,
				.nav__item--divider,
				.nav__item--static,
				.nav__item--entry,
				.nav__item--nested,
				.nav__item--code,
				.nav__item--button
			) {
			background: #444;
			box-shadow: inset 2px 0 0 0 $color_primary;
			&::after {
				color: $color_primary;
			}
		}
		&--parent {
			&::after {
				content: "►";
				font-size: 12px;
				margin-left: auto;
			}
		}
		&--return {
			background: $color_primary;
			padding: 10px 20px;
			position: sticky;
			font-size: 12px;
			color: #000;
			display: flex;
			justify-content: space-between;
			top: 0;
			font-weight: 700;
			&::before {
				content: "◄ Go Back";
				font-size: 12px;
				margin-right: 5px;
			}
			&:hover {
				&::before {
					opacity: 0.6;
				}
			}
		}
		&--input {
			padding: 20px;
			input:not([type="checkbox"]) {
				width: 100%;
				background: #444;
				padding: 10px;
			}
			& + .nav__item--input {
				padding-top: 0;
			}
		}
		&--divider {
			padding: 10px 20px;
			font-size: 12px;
			display: flex;
			align-items: center;
			white-space: nowrap;
			color: $color_primary;
			cursor: default;
			font-weight: 700;
			gap: 5px;
			&::before,
			&::after {
				content: "";
				height: 1px;
				width: 100%;
				background: $color_primary;
			}
		}
		&--entry {
			flex-direction: column;
			align-items: flex-start;
			p {
				&:first-child {
					font-size: 10px;
					color: $color_primary;
					margin-bottom: 5px;
				}
			}
		}
		&--line {
			border-bottom: 1px solid rgba(#ccc, 0.1);
		}

		i {
			color: $color_primary;
			margin-right: 10px;
		}
		&--nested {
			color: $color_primary;
			font-size: 12px;
			text-transform: capitalize;
			padding-bottom: 0;
			&::after {
				content: ":";
			}
		}
		&--hidden {
			display: none;
		}
		&--button {
			background: #444;
			color: #fff;
			font-weight: 600;
			margin: 10px;
			line-height: 1;
			font-size: 10px;
			padding: 15px 20px;
			display: flex;
			justify-content: center;
			i {
				margin-right: 5px;
			}
			&:hover {
				opacity: 0.8;
				i.fa-refresh {
					animation: rotate 0.3s ease forwards;
				}
			}
			&:active {
				scale: 0.98;
			}
			+ .nav__item--button {
				margin-top: 0;
			}
			@keyframes rotate {
				to {
					rotate: 180deg;
				}
			}
		}
		&--code {
			flex: 1;
			padding: 0;
			cursor: text;
			width: 100%;
			max-height: 100%;
			overflow-y: hidden;
			code {
				display: block;
			}
			pre {
				height: 100%;
				display: block;
				overflow-y: auto !important;
				width: 100%;
				max-width: 100%;
				user-select: text;
			}
			font-size: 9px;
		}
	}
}
